<html>
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <script> 

    function check_for_empty(){
      if (document.getElementById('b').value == "") {
        alert('place cannot be empty');
        return false;
      }
    }


    </script>
  </head>

  <body>
    <h1>Hello! Welcome to MBTA_FINDER APP!</h1>
    <form method="POST" name="a" action="#" onsubmit="return check_for_empty()">
      
      <h3>PLEASE ENTER A PLACE:</h3>
      <p><input type='text' size="16" name="b" id="b" placeholder="place"/></p>
      <p>
      <input type='submit' value="submit">
      </p>
    </form>






  </body>
</html>
