<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MBTA_STATION</title>
  </head>

  <body>
    <h1>Results</h1>
    <p></p>
    <p>The nearest station is {{station_name}}</p>
    <p>Wheelchair Accessible:{{wheelchair_boarding}}</p>
    <br>
    <p>Note:</p>
    <P>If Wheelchair Aceessibile:0. There is no accessibility information for the facility</P>
    <p>If Wheelchair Aceessibile:1. The facility is wheelchair accessible.</p>
    <p>If Wheelchair Aceessibile:2. Facility not accessible to persons in wheelchairs.
    <p>If others, it means ERROR.</p>
    </p>

    <a href='http://localhost:5000/home/'><button>Back to Home Page</button></a>
  </body>
</html>
